footer#footer
    .ed-container
        .ed-item.tablet-50.web-70
            .copy
                p Avenida Costanera S/N, Magdalena (1913) - Buenos Aires - Argentina
                p Tel&eacute;fono: 
                    strong  
                p &copy; 2016 - Camping Magdalena, Complejo de Caba&ntilde;as - Todos los derechos reservados.
        .ed-item.tablet-50.web-30.abcenter
            .sociales
                p Redes Sociales
                a.icon-facebook(href="https://www.facebook.com/MagdalenaCamping/",title="Visitá nuestra página de Facebook",rel="_blank")
                a.icon-youtube(href="https://www.youtube.com/user/campingmagdalena",title="Visitá nuestro canal de YouTube",rel="_blank")