doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
        title Camping Magdalena, Contacto
        meta(name="viewport",content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=0")
        meta(name="description",content="Contactar a Camping Magdalena, Complejo de Caba&ntilde;as")
        link(rel="stylesheet", href="css/estilos.css")
        link(rel="shortcut icon", href="http://www.campingmagdalena.com.ar/favicon.ico")
        
    body#contacto
        div#fb-root
        header#header
            .ed-container
                include blocks/header
                .ed-item.base-100.web-80.main-end.distribute
                    .icon-menu.espacio.toggle-menu.hasta-web Men&uacute;
                    ul.ed-menu.web-horizontal
                        li.ed-menu__item
                            a.ed-menu__link(href="index.html",title="Camping Magdalena, Complejo de Caba&ntilde;as") Inicio
                        li.ed-menu__item
                            a.ed-menu__link(href="complejo.html",title="Conocé nuestro complejo") Complejo
                        li.ed-menu__item
                            a.ed-menu__link(href="servicios.html",title="Servicios que ofrecemos") Servicios
                        li.ed-menu__item
                            a.ed-menu__link(href="tarifas.html",title="Tarifas de la temporada 2016") Tarifas
                        li.ed-menu__item
                            a.ed-menu__link(href="media.html",title="Fotos y videos del camping") Fotos/Videos
                        li.ed-menu__item
                            a.ed-menu__link(href="ubicacion.html",title="Aquí es donde estamos ubicados") Ubicaci&oacute;n
                        li.ed-menu__item
                            a.ed-menu__link.active(href="contacto.html",title="Contactanos por consultas e informes") Contacto  
        main#main
            .ed-container.distribute
                .ed-item.slogan.abcenter
                    .before
                    p.slogan__subtitle &iquest;Necesit&aacute;s m&aacute;s informaci&oacute;n&quest;
                    h1.slogan__title tu consulta no es molestia
                .ed-item.web-40
                    h2.main__subtitle Contacto por tel&eacute;fono
                    p.main__description Pod&eacute;s consultarnos o hacer tu reserva llamando o enviando un SMS al tel&eacute;fono 
                        strong  
                        |en el horario de 
                        em 08:00 a 20:00 horas.
                    p Gracias por elegirnos.
                    h2.main__subtitle.social Contacto por facebook
                    p.main__description.social Danos un me gusta a nuestra 
                        strong Fan Page de Facebook 
                        |para poder comunicarte con nosotros y enterarte de todas las novedades y eventos.
                    .fb-like.social(data-href="https://www.facebook.com/MagdalenaCamping", data-layout="standard",data-action="like",data-show-faces="false", data-share="false")
                    p.social Compart&iacute; nuestra Fan Page de Facebook con tus amigos.
                    .fb-share-button.social(data-href="https://www.facebook.com/MagdalenaCamping",data-layout="button")
                .ed-item.web-40
                    h3 Seguinos en Facebook
                    .fb-follow(data-href="http://www.facebook.com/MagdalenaCamping", data-width="290", data-colorscheme="light",data-layout="standard",data-show-faces="true")
                    h3 Seguinos en Youtube
                    .g-ytsubscribe(data-channel="campingmagdalena",data-layout="default",data-count="undefined")
                    .important.abcenter
                        p Estimado Turista: Los d&iacute;as s&aacute;bados, domingos y feriados de 8:00 a 14:00 horas la municipalidad de Magdalena cobra entrada al Balneario Municipal, por lo tanto es IMPORTANTE mencionar que ven&iacute;s a Camping Magdalena o imprimir el cup&oacute;n para NO ABONAR dicha entrada.
        // Seccion libre para un banner o publicidad
        aside#aside
        footer#footer
            include blocks/footer
        script(src="https://code.jquery.com/jquery-1.12.0.min.js")
        script(src="js/scripts.js")
        // Inicio Google Analytic
        script.
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-19487363-4']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        // Fin Google Analytic
        // Inicio Facebook
        script.
            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        // Fin Facebook
        // Inicio Youtube
        script(src="https://apis.google.com/js/platform.js")
        // Fin Youtube