doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
        title Camping Magdalena, Complejo de Cabañas
        meta(name="viewport",content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=0")
        meta(name="description",content="Camping Magdalena, Ubicación")
        link(rel="stylesheet", href="css/estilos.css")
        link(rel="shortcut icon", href="http://www.campingmagdalena.com.ar/favicon.ico")
            
    body#ubicacion
        header#header
            .ed-container
                include blocks/header
                .ed-item.base-100.web-80.main-end.distribute
                    .icon-menu.espacio.toggle-menu.hasta-web Men&uacute;
                    ul.ed-menu.web-horizontal
                        li.ed-menu__item
                            a.ed-menu__link(href="index.html",title="Camping Magdalena, Complejo de Cabañas") Inicio
                        li.ed-menu__item
                            a.ed-menu__link(href="complejo.html",title="Conocé nuestro complejo") Complejo
                        li.ed-menu__item
                            a.ed-menu__link(href="servicios.html",title="Servicios que ofrecemos") Servicios
                        li.ed-menu__item
                            a.ed-menu__link(href="tarifas.html",title="Tarifas de la temporada 2016") Tarifas
                        li.ed-menu__item
                            a.ed-menu__link(href="media.html",title="Fotos y videos del camping") Fotos/Videos
                        li.ed-menu__item
                            a.ed-menu__link.active(href="ubicacion.html",title="Aquí es donde estamos ubicados") Ubicaci&oacute;n
                        li.ed-menu__item
                            a.ed-menu__link(href="contacto.html",title="Contactanos por consultas e informes") Contacto  
        main#main
            .ed-container.distribute
                .ed-item.slogan.abcenter
                    .before
                    h1.slogan__title Ubicaci&oacute;n geogr&aacute;fica
                    a.button(href="https://goo.gl/maps/ADfY6ZGeZMQ2",target="_blank") Ver en Google Maps
                .ed-item.web-40
                    h2.main__subtitle &iquest;Donde estamos ubicados&quest;
                    p.main__description Nos encontramos ubicados sobre la costa del R&iacute;o de La Plata, a 7 kil&oacute;metros de la ciudad de Magdalena, Buenos Aires, Argentina.
                    h3.main__subtitle &iquest;C&oacute;mo llegar en Auto&quest;
                    h4 desde Ciudad Aut&oacute;noma de Buenos Aires: (110 km)
                    p Tomar por Autopista BA &ndash; La Plata hasta la bajada de Diagonal 74 y Calle 120 (La Plata), continuar por Avenida Domingo Mercante hasta la rotonda y tomar camino Rivadavia hasta Avenida 122 (Ruta Provincial 11). Luego girar a la derecha y seguir por Ruta Provincial 11 hasta la ciudad de Magdalena. Tomar por calle Espa&ntilde;a hasta el Balneario Municipal. 
                        a(href="http://goo.gl/maps/Hr5bY",rel="_blank") Ver recorrido...
                    h4 desde La Plata: (54 km)                        
                    p Tomar la Ruta Provincial 11 hasta la ciudad de Magdalena. Tomar por calle Espa&ntilde;a hasta el Balneario Municipal. 
                        a(href="http://goo.gl/maps/aQdhC",rel="_blank") Ver recorrido...
                    h4 desde la Rotonda Guti&eacute;rrez &ndash;Alpargatas&ndash; (108 km)         
                    p Tomar por Autopista Buenos Aires &ndash; Mar de Plata hasta el cruce con la Ruta Provincial 36. Luego continuar por Ruta Provincial 36 hasta el cruce con la Ruta Provincial 20. Girar a la izquierda y tomar Ruta Provincial 20 hasta la ciudad de Magdalena. Tomar por calle Espa&ntilde;a hasta el Balneario Municipal. 
                        a(href="http://goo.gl/maps/h1bpq",rel="_blank") Ver recorrido...
                .ed-item.web-40
                    .important.abcenter
                        p Coordenadas GPS: 
                        h4 Latitud -35.030004 - Longitud -57.506388
                    h3.main__subtitle &iquest;C&oacute;mo llegar en &Oacute;mnibus?
                    p.main__description Para llegar a la ciudad de La Plata, tomar la
                    a(href="http://www.metropol.com.ar/",title="Costera Metropolitana",rel="_blank") Costera Metropolitana
                    |&nbsp;en la terminal de 
                    a(href="http://www.tebasa.com.ar",title="Terminal de Retiro",rel="_blank") Retiro
                    |&nbsp;(C.A.B.A.) y bajar en la terminal de la ciudad de La Plata.
                    p Tomar el 
                        a(href="http://www.expresolaplata.com.ar/",title="Expreso La Plata",rel="_blank") Expreso La Plata
                        |&nbsp; en la 
                        a(href="http://www.laplataterminal.com/",title="Terminal de La Plata",rel="_blank") terminal de la ciudad de La Plata
                        |&nbsp;y bajar en la terminal de la ciudad de Magdalena, luego tomar un taxi en la parada e ir por calle Espa&ntilde;a hasta el Balneario Municipal.
                    h3 &iquest;C&oacute;mo llegar en Tren&quest;
                    p.main__description Tomar el tren de la 
                        a(href="http://www.trenesargentinos.gob.ar/servicios/servicios.php",title="Línea General Roca",rel="_blank") L&iacute;nea General Roca
                        |&nbsp;en la estaci&oacute;n Plaza Constituci&oacute;n (C.A.B.A.) hasta la estaci&oacute;n La Plata.
                    p Tomar Expreso La Plata en la terminal de la ciudad de La Plata y bajar en la terminal de la ciudad de Magdalena, luego tomar un taxi en la parada e ir por calle Espa&ntilde;a hasta el Balneario Municipal.
        // Seccion libre para un banner o publicidad
        aside#aside
            //.ed-container
                .ed-item.web-50.main-end
                    h3 El clima en Magdalena
                    div#cont_0038340c188c8383dce17a8943dfc2c4
                        span#h_0038340c188c8383dce17a8943dfc2c4
                        script(src="http://www.tiempo.com/wid_loader/0038340c188c8383dce17a8943dfc2c4")
        footer#footer
            include blocks/footer
        script(src="https://code.jquery.com/jquery-1.12.0.min.js")
        script(src="js/scripts.js")
        // Inicio Google Analytic
        script.
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-19487363-4']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        // Fin Google Analytic